.validation-container {
  min-height: calc(100vh - 160px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-card {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
