<mat-card class="myday">
  <div class="addTask">
    <mat-form-field appearance="fill" style="width: 100%" role="group" [formGroup]="addTaskForm" (ngSubmit)="addtask()">
     <div>
      <mat-label>Add Task</mat-label>
      <input matInput formControlName="task"/>
     </div>
    </mat-form-field>
    <div class="icons">
      <mat-icon color="primary" title="Add due date">date_range</mat-icon>
      <mat-icon color="primary" title="Repeat">event_repeat</mat-icon>
  </div>
    <button type="submit" class="add-btn" mat-button color="primary" (click)="addtask()">Add</button>
  </div>
  <mat-nav-list>
    <mat-list-item *ngFor="let task of taskList" (click)="openDetail(task)">
      <mat-checkbox>{{ task.name }}</mat-checkbox>
      <mat-icon
        style="margin-left: auto; padding: 1em"
        (click)="task.isFavorite = !task.isFavorite"
        >{{task.isFavorite ? "star" : "star_outline" }}</mat-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
