<mat-card class="myday">
  <div class="addTask">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Add Task</mat-label>
      <input matInput />
    </mat-form-field>
    <button class="add-btn" mat-button color="primary">Add</button>
  </div>
  <mat-nav-list>
    <mat-list-item *ngFor="let task of taksList" (click)="openDetail(task)">
      <mat-checkbox>{{ task.name }}</mat-checkbox>
      <mat-icon (click)="task.isFavorite = !task.isFavorite">{{
        task.isFavorite ? "star" : "star_outline"
      }}</mat-icon>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
