<mat-card class="myday">
  <form class="addTask" (ngSubmit)="addTask()" [formGroup]="addTaskForm">
    <mat-form-field appearance="fill" style="width: 100%" role="group">
      <div>
        <mat-label>Add Task</mat-label>
        <input matInput formControlName="name" />
      </div>
    </mat-form-field>
    <button type="submit" class="add-btn" mat-button color="primary">
      Add
    </button>
  </form>
  <mat-nav-list>
    <mat-list-item
      *ngFor="let task of taskListClient"
      (click)="openDetail(task)"
    >
      <mat-checkbox>{{ task.name }}</mat-checkbox>
      <mat-icon
        style="margin-left: auto; padding: 1em"
        (click)="task.isFavorite = !task.isFavorite"
        >{{ task.isFavorite ? "star" : "star_outline" }}</mat-icon
      >
    </mat-list-item>
  </mat-nav-list>
</mat-card>
