<div class="login-container">
  <form
    class="login-from"
    action="."
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
  >
    <span class="form-photo">
      <img src="/assets/img/reg.png" alt="login" />
    </span>

    <mat-form-field appearance="outline">
      <mat-label> University</mat-label>
      <mat-select
        class="amount-input"
        formControlName="userUniversity"
        name="userUniversity"
        required
      >
        <mat-option
          *ngFor="let university of universityList"
          value="{{ university.id }}"
          >{{ university.name }}</mat-option
        >
      </mat-select>
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>First Name</mat-label>
      <input
        name="userFName"
        matInput
        formControlName="userFName"
        placeholder="Name"
        required
      />
      <mat-error *ngIf="userFName.errors?.['required']"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="userFName.errors?.['minlength']"
        >Name should be 2-30 characters long</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Middle Name</mat-label>
      <input
        name="userMName"
        matInput
        formControlName="userMName"
        placeholder="Name"
        required
      />
      <mat-error *ngIf="userMName.errors?.['required']"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="userMName.errors?.['minlength']"
        >Name should be 2-30 characters long</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Last Name</mat-label>
      <input
        name="userLName"
        matInput
        formControlName="userLName"
        placeholder="Name"
        required
      />
      <mat-error *ngIf="userLName.errors?.['required']"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="userLName.errors?.['minlength']"
        >Name should be 2-30 characters long</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Your email</mat-label>
      <input
        name="userEmail"
        matInput
        formControlName="userEmail"
        placeholder="user@domain.com"
        required
      />

      <mat-error *ngIf="userEmail.errors?.['required']"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="userEmail.errors?.['isExist']">{{
        userEmail.errors?.["isExist"]
      }}</mat-error>
      <mat-error *ngIf="userEmail.errors?.['email']"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        required
        name="userPassword"
        formControlName="userPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-hint
        >Password should be 8 - 30 chars long and should contain letters and
        numbers.
      </mat-hint>
      <mat-error *ngIf="userPassword.hasError('required')"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="userPassword.hasError('pattern')"
        >Password should be 8 - 30 chars long and should contain letters and
        numbers and special characters [@$!%*?&].</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        required
        name="confirmPassword"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-hint
        >Password should be 8 - 30 chars long and should contain letters and
        numbers.
      </mat-hint>
      <mat-error *ngIf="confirmPassword.hasError('required')"
        >This Field is Required</mat-error
      >
      <mat-error *ngIf="confirmPassword.hasError('pattern')"
        >Password should be 8 - 30 chars long and should contain letters and
        numbers and special characters [@$!%*?&].</mat-error
      >
      <mat-error *ngIf="confirmPassword.hasError('notMatch')"
        >Password & Confirm Password doesn't match.</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="forget-container">
      <mat-checkbox formControlName="iAgree" color="primary"
        >I Agree on <a routerLink=".">Terms&Conditions</a></mat-checkbox
      >
    </div>

    <span class="submit-container">
      <button mat-stroked-button type="submit" color="primary">Sign Up</button>
    </span>
    <p style="text-align: center">
      <a routerLink="../login">Already have accout? login now.</a>
    </p>
  </form>
</div>
