<div class="welcome" id="home">
  <div class="message">
    <h1 class="messageTitle">
      Welcome To <span class="indent50">Learning Lantern</span>
    </h1>
    <p class="toggle">
      We improve the educational process to a new and developed extent, by
      building an integrated and easy-to-use online educational environment that
      emulates the real learning environment through convenient educational
      services and tools for the educational process.
    </p>
  </div>
  <div class="welcome-img-container">
    <img
      src="../../../../assets/img/welcome-image.png"
      alt="banner"
      class="welcome-img"
    />
  </div>
</div>
<div class="waves">
  <img src="../../../../assets/img/waves.png" alt="waves" />
</div>
<div class="section-title" id="services">
  <h1>Our Services</h1>
</div>
<div class="serv-grid" *ngFor="let serv of servicesList">
  <app-service-item [serviceDetail]="serv"></app-service-item>
</div>
<div class="contact-us" id="contact-us">
  <mat-card class="contact-form">
    <mat-card-title style="margin-bottom: 2rem">Contact Us</mat-card-title>
    <form action=".">
      <mat-form-field appearance="outline" color="white">
        <mat-label>Your email</mat-label>
        <input
          name="userEmail"
          matInput
          placeholder="user@domain.com"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" color="white">
        <mat-label>Your Name</mat-label>
        <input name="userEmail" matInput placeholder="Your Name*" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="white">
        <mat-label>Subject</mat-label>
        <input name="subject" matInput placeholder="Subject" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        type="button"
        color="primary"
        style="font-size: 1.2rem; margin-left: 85%"
      >
        Send
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card>
  <img
    src="/assets/img/contactUs.png"
    alt="contact"
    class="toggle"
    style="max-width: 350px; max-height: 350px; margin-left: 2rem"
  />
</div>
