mat-sidenav-container {
  height: 100%;
  width: 100%;
}
main {
  padding-top: 80px;
}

mat-sidenav {
  width: 250px;
}

.footer {
  margin-top: 3rem;
  background-color: #555;
  color: black;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: white;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.2rem;
}
@media all and (min-width: 900px) {
  .bars {
    display: none;
  }
  .toggle {
    display: flex;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}
