// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$my-brown: ( 50: #f3e0e0, 100: #e0b3b3, 200: #cc8080, 300: #b84d4d, 400: #a82626, 500: #990000, 600: #910000, 700: #860000, 800: #7c0000, 900: #6b0000, A100: #ff9a9a, A200: #ff6767, A400: #ff3434, A700: #ff1a1a, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #ffffff, A700: #ffffff, ), );
$my-green: ( 50: #e2ece3, 100: #b7cfb9, 200: #87b08b, 300: #56905c, 400: #327839, 500: #0e6016, 600: #0c5813, 700: #0a4e10, 800: #08440c, 900: #043306, A100: #6bff70, A200: #38ff3f, A400: #05ff0d, A700: #00eb08, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ), );
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$train-primary: mat.define-palette($my-green);
$train-accent: mat.define-palette($my-brown, A200, A100, A400);
// The warn palette is optional (defaults to red).
$train-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$train-theme: mat.define-light-theme( ( color: ( primary: $train-primary, accent: $train-accent, warn: $train-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($train-theme);

/* You can add global styles to this file, and also import other style files */

:root {
    --green: 14, 96, 22;
    --light-green: 28, 171, 4;
    --very-light-green: 217, 253, 211;
    --brown: 159, 0, 0;
    --light-brown: 243, 187, 125;
    --light-silver: 237, 237, 237;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// icons
.icon50 {
    width: 50px;
    height: 50px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}